<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Day');
        {% for project in projects %}
            console.log("{{ project }}");
            data.addColumn('number', "{{ project }}");
        {% endfor %}


        {% for task in dated_tasks %}
            console.log("{{ task.0 }}");
            data.addRows([
                [new Date("{{ task.0 }}"), parseInt("{{ task.1 }}"), parseInt("{{ task.2 }}"), parseInt("{{ task.3 }}")]
            ]);
        {% endfor %}

      var options = {
        chart: {
          title: 'Box Office Earnings in First Two Weeks of Opening',
          subtitle: 'in millions of dollars (USD)'
        },
        height: 1000,
        width: 1500,
        axes: {
          x: {
            0: {side: 'top'}
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
</head>
<body>
  <h1>Per project</h1>
  <div id="line_top_x"></div>
</body>
</html>