<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/show.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <!-- Translates the Django data to a JavaScript object -->
    <script type="text/javascript">
        const tasks = [];
        let newTask = null;
        {% for task in tasks %}
            newTask = {
            "id": "{{ task.id }}",
            "name": "{{ task.name }}",
            "project": "{{ task.project_name }}",
            "startDate": "{{ task.start_date }}",
            "startTime": "{{ task.start_time }}",
            "duration": "{{ task.duration }}",
            "pauseDuration": "{{ task.pause_duration }}",
            "tags": []
            };
            {% for tag in task.tags %}
                newTask.tags.push("{{ tag }}");
            {% endfor %}
            tasks.push(newTask);
        {% endfor %}
    </script>
</head>
<body>
    <div class="ml-5 mr-5 mt-5">
        <h3>Filters</h3>
        <div class="row">
            <div class="col-6 mb-4">
                <label for="display-mode-select">Display by:</label>
                <select class="form-control" id="display-mode-select" onchange="drawCurveTypes()">
                    <option>Project</option>
                    <option>Task</option>
                    <option>Tag</option>
                </select>
            </div>
            <div class="col-6 mb-4">
                <label for="granularity-select">Granularity:</label>
                <select class="form-control" id="granularity-select" onchange="drawCurveTypes()">
                    <option>Day</option>
                    <option>Week</option>
                    <option>Month</option>
                    <option>Year</option>
                </select>
            </div>
            <div class="col-6">
                <label for="start-date-input">Start date:</label>
                <input type="date" id="start-date-input" value="">
            </div>
            <div class="col-6">
                <label for="end-date-input">End date:</label>
                <input type="date" id="end-date-input" value="">
            </div>
            <div class="col-6 mt-4">
                <label for="project-filter-input">Project name</label>
                <input type="text" class="form-control" id="project-filter-input" placeholder="My Project">
            </div>
            <div class="col-12 mt-2">
                <button type="button" class="btn btn-primary" onclick="drawCurveTypes()">Filter</button>
            </div>
            <div class="col-3 mt-2">
                <input class="form-check-input" type="checkbox" value="" id="accumulate-checkbox" onclick="drawCurveTypes()">
                <label class="form-check-label" for="accumulate-checkbox">
                    Accumulate
                </label>
                <br>
                <input class="form-check-input" type="checkbox" value="" id="total-checkbox" onclick="drawCurveTypes()">
                <label class="form-check-label" for="total-checkbox">
                    Total
                </label>
            </div>
        </div>
        <hr>

        <h3>Lines</h3>
        <div id="line-chart-container"></div>

        <hr>

        <h3>Histogram</h3>
        <div id="line-chart-container"></div>

        <hr>

        <h3>Pauses</h3>
        <div id="line-chart-container"></div>
    </div>
</body>

<script type="text/javascript">
    loadChart(tasks);
</script>

</html>