<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/show.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <!-- Translates the Django data to a JavaScript object -->
    <script type="text/javascript">
        var tasks = [];
        {% for task in tasks %}
            tasks.push({
            "id": "{{ task.id }}",
            "name": "{{ task.name }}",
            "project_name": "{{ task.project_name }}",
            "startDate": "{{ task.start_date }}",
            "startTime": "{{ task.start_time }}",
            "duration": "{{ task.duration }}",
            "pauseDuration": "{{ task.pause_duration }}"
            });
        {% endfor %}
    </script>
</head>
<body>
    <div class="container mt-5">
        <h3>Filters</h3>
        <div class="row">
            <div class="col-12 mb-4">
                <label for="display-mode-select">Display by:</label>
                <select class="form-control" id="display-mode-select">
                    <option>Project</option>
                    <option>Task</option>
                </select>
            </div>
            <div class="col-6">
                <label for="start-date-input">Start date:</label>
                <input type="date" id="start-date-input" value="">
            </div>
            <div class="col-6">
                <label for="end-date-input">End date:</label>
                <input type="date" id="end-date-input" value="">
            </div>
            <div class="col-12 mt-4">
                <button type="button" class="btn btn-primary" onclick="alert('Filter')">Filter</button>
            </div>
        </div>
        <hr>

        <h3>Lines</h3>
        <div id="line-chart-container"></div>

        <hr>

        <h3>Histogram</h3>
        <div id="line-chart-container"></div>
    </div>
</body>

<script type="text/javascript">
    loadChart(tasks);
</script>

</html>